version: "3.8"

services:
  postgres:
    image: postgres:13
    container_name: camara_postgres
    environment:
      POSTGRES_DB: camara
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"